.itemsr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.pr {
  color: #ffffff;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 50px;
  min-width: 130px;
  text-align: start;
}
.buttonr {
  background: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}
