.notfoundn {
  height: 100%;
  width: 100%;
}
.img404n {
  margin-left: 200px;
}
.home-containern {
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: row;

  overflow-y: auto;
}
.list-columnn {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100vh;
  background: none;
  justify-content: center;
  align-items: center;
}
.backbuttonn {
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  background: none;
  color: #ffffff;
}
.back-arrown {
  margin-right: 10px;
}
