.items-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 120px;
  width: 120px;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
}
.details {
  color: #ffffff;
  font-size: 12px;
}
.pic {
  height: 80%;
  width: 100%;
}
